 body {       
    background-image: 
    url('/src/main/resources/Pictures/Foto1.jpg'),
    url('/src/main/resources/Pictures/Foto2.jpg'),
    url('/src/main/resources/Pictures/Foto3.jpg');
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-position: center, center;
    background-repeat: repeat, repeat;
    background-size: 400px 200px, 500px 400px;
    padding:25px;
    height:400px
}